## Mac OSX ##
.DS_Store

## NPM ##
node_modules/

## Compiled files ##
compiled/

## API keys ##
src/config/youtube.js
compiled/config/youtube.js

# Idea related settings folder
.idea

# vscode related settings folder
.vscode

